:root {
    --background: #232946;
    --headline: #fffffe;
    --card-data: #781e2c;
    --paragraph: #b8c1ec;
    --button: #eebbc3;
    --button-text: #232946;

    --stroke: #121629;
    --main: #b8c1ec;
    --highlight: #eebbc3;
    --secondary: #fffffe;
    --tertiary: #eebbc3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 360px;
    margin: 0 auto;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background-color: var(--background);
    color: var(--headline);
    position: absolute;
    right: 10px;
    top: 5px;
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
}

#menu::before {
    content: "☰";
    color: var(--tertiary);
}

#menu.open::before {
    content: "X";
    color: var(--tertiary);
}

header,
footer {
    margin: 0 auto;
}

header {
    max-width: 1024px;
    background-color: var(--background);
    padding: .5rem;
    position: relative;
    color: var(--tertiary)
}

header span {
    font-size: 1.5rem;
    color: var(--tertiary);
}

nav {
    margin: 0;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.navigation li {
    display: none;
}

.open li {
    display: block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.active {
    color: var(--tertiary);
}

main {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
    /* display: grid; */
    text-align: center;
}

#templesList {
    display: grid;
}

.temple-card {
    background-color: #eee;
    padding: 1.5rem;
    margin-bottom: .5rem;
}

.temple-card h2 {
    margin: 0 0 1rem;
}

.temple-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    margin-bottom: 1rem;
    font-size: .99rem;
}

.temple-card ul li {
    display: contents;
}

.temple-card .data-label {
    font-weight: 700;
    grid-column: 1;
    text-align: right;
    color: var(--card-data);
}

.temple-card .data-information {
    grid-column: 2;
    text-align: left;
}

.temple-card img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px -2px 15px var(--background);
    ;
}

h1 {
    text-align: center;
    margin: .5rem 0;
}

figure {
    margin: 0;
}


footer {
    background-color: var(--background);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--headline);
    max-width: 1024px;
}

footer p:first-child {
    color: var(--button);
    margin-bottom: .5rem;
}

footer p:last-child {
    color: var(--headline);
}

footer p {
    margin: 0;
}