:root {
    --primary-color: rgba(5, 90, 5, 1.000);
    /* forest green */
    --secondary-color: rgba(255, 255, 255, 0.8);
    /* warm sand background */
    --accent-color: rgba(255, 255, 255, 1.000);
    /* white */
    --accent-color-2: rgba(204, 255, 0, 1);
    --text-color: rgba(0, 38, 77, 1.000);
    /* solid dark blue */
    --overlay-color: rgba(0, 0, 0, 1);
    /* african turquoise */
    --overlay-color-2: rgba(189, 214, 239, 1);
    /* Sensational Light Blue */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--overlay-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 12px;
    border-bottom: 12px solid var(--accent-color);
}

header h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--overlay-color-2);
    flex: 1;
}

.hero img {
    display: block;
    height: auto;
    width: 100%;
}

.hero picture {
    width: 100%;
    display: block;
}

.initial-content {
    position: relative;
    width: 100%;
}

.card-info {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid var(--overlay-color);
}

.card-details {
    padding: 1rem 1rem 1.2rem;
}

.card-info h2 {
    margin: 0 0 1.25rem 0;
    font-size: 2rem;
}

.card-details p {
    margin: 0.7rem 0;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--overlay-color);
    font-weight: 500;
}

.weather-mobile-first-icon {
    margin-bottom: 1rem;
}

.weather-mobile-first-icon img {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer p {
    margin: 0.4rem 0;
    font-size: 1rem;
}

@media (min-width: 900px) {
    main {
        position: relative;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }

    .hero {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    .hero picture {
        display: block;
        width: 100%;
    }

    .hero img {
        display: block;
        width: 100%;
        height: auto;
    }

    .initial-content {
        position: absolute;
        width: 300px;
        background-color: var(--secondary-color);
        box-shadow: var(red);
        border: none;
        pointer-events: auto;
    }

    .card-info {
        top: 10%;
        left: 8%;
    }

    .weather-info {
        right: 3%;
        bottom: 20%;
    }


}