@media (min-width: 750px) {
    #navigation {
        display: none;
    }

    .starting-point {
        padding: 16px 26px;
    }

    header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 18px;
    }

    .navigation-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 26px;
    }

    .navigation-menu ul {
        display: flex;
        flex-direction: row;
        background-color: var(--primary-color);
    }

    .navigation-menu li {
        border-top: none;
    }

    .navigation-menu a {
        padding: 10px 25px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        align-items: start;
    }

    main h1 {
        grid-column: 1/-1;
        margin-bottom: 12px;
    }

    figure {
        margin-bottom: 0;
    }

    figure img {
        max-width: 100%;
    }
}