body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 2rem;
}



footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 15px;
    color: var(--accent-color);

}

#lastModified {
    color: var(--accent-color-2);
}